*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
  }
  ol,
ul {
  list-style-type: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .header {
    padding: 13px 0 30px;
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    padding: 3px;
    border: 1px solid transparent;
  }
  
  .logo:focus {
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .header__nav {
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
  }
  
  .header__list {
    display: flex;
    justify-content: space-between;
  }
  
  .header__nav__link,
  .header__registration {
    color: #5c5d5f;
    text-align: center;
    font-size: 14px;
    line-height: 20.16px;
  }
  
  .header__nav__link:focus,
  .header__registration:focus {
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .header__nav__link:hover {
    font-weight: 500;
    color: var(--link-hover-color);
  }
  
  .header__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .header__right > span {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-weight: 500;
    line-height: 20.16px;
    margin-right: 20px;
  }
  
  .header__tel {
    color: #000;
  }
  .header__login_link{
    border: 1px solid #004C92;
    border-radius: 50px;
    padding: 5px 32px;
  }
  .header__registration_link{
    border: 1px solid #004C92;
    border-radius: 50px;
    padding: 5px 32px;
    background-color:rgba(0, 167, 204, 0.516);
    color:#fff;
  }
  .main_container{
    display: flex;
    
  }
  .main_form {
    width: 596px;
height: 753px;
top: 79px;
background-color:rgba(239, 248, 253, 1) ; 
padding-left: 130px;
 padding-right: 125px;
 margin-right: 37px;
}
.main_text {
    padding-top: 80px;
    padding-bottom  : 30px;
}
.main_list {
    padding-bottom: 10px;
    padding-top: 15px;
}
.main_list2{
    padding-top: 25px;
    padding-bottom: 25px;
}
  .main_list_link{
    border: 1px solid #004C92;
    border-radius: 50px;
    padding: 5px 32px;
    background-color:rgba(0, 167, 204, 0.795);
    color:#fff; 
  }
  .nav_text{
    padding-top: 80px;
    padding-bottom: 35px;
    margin-right: 60px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    
  }
  .nav_list {
    padding-bottom: 5px;
    color: #000;
  }
  .main_list1{
    padding-bottom: 5px;
  }
  .main_list2 {
    padding-top: 40px;
  }
  .nav_texts{
    margin-top: 140px;
    
  }
  .nav_links{
    padding-bottom: 5px;
    
  }
  .text{
    width: 340px;
    height: 38px;
    border-radius: 20px;
  }
  